* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #101827;
    color: white;
    overflow: hidden;
}

/* SEMUA SCREEN */

.screen {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at top, #263b66, #101827 65%);
}

.hidden {
    display: none !important;
}


/* CARD */

.card {
    width: 90%;
    max-width: 400px;

    padding: 30px;

    background: rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.15);

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 15px 40px rgba(0,0,0,0.4);

    backdrop-filter: blur(10px);
}

.card h1 {
    margin-bottom: 8px;
    font-size: 32px;
}

.subtitle {
    color: #aaa;
    margin-bottom: 25px;
}


/* INPUT */

input {
    width: 100%;

    padding: 14px;

    margin-bottom: 12px;

    border: none;
    border-radius: 10px;

    background: #202c42;

    color: white;

    outline: none;

    font-size: 15px;
}

input:focus {
    outline: 2px solid #4da6ff;
}


/* BUTTON */

button {
    width: 100%;

    padding: 14px;

    margin-top: 10px;

    border: none;
    border-radius: 10px;

    background: #3498db;

    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    transform: scale(1.02);
    background: #2980b9;
}

.leaderboard-btn {
    background: #f39c12;
}

.leaderboard-btn:hover {
    background: #d68910;
}


/* GAME */

#gameScreen {
    flex-direction: column;

    justify-content: flex-start;

    padding-top: 10px;
}

.game-top {
    width: 95%;
    max-width: 500px;

    display: flex;

    justify-content: space-between;

    padding: 12px;

    background: #1c2a40;

    border-radius: 10px;

    margin-bottom: 10px;
}

#gameCanvas {
    width: min(95vw, 500px);

    height: min(75vh, 700px);

    background: #0c1320;

    border: 2px solid #3498db;

    border-radius: 12px;
}


/* CONTROLS */

.controls {
    width: min(95vw, 500px);

    display: flex;

    gap: 20px;

    margin-top: 10px;
}

.controls button {
    font-size: 25px;

    margin: 0;

    background: #34495e;
}


/* LEADERBOARD */

.leaderboard-card {
    max-width: 500px;
}

#leaderboardData {
    margin: 20px 0;
    max-height: 400px;
    overflow-y: auto;
}

.rank-row {
    display: grid;

    grid-template-columns: 50px 1fr 90px;

    align-items: center;

    padding: 12px;

    margin-bottom: 8px;

    background: #1c2a40;

    border-radius: 10px;
}

.rank {
    font-weight: bold;
}

.player {
    text-align: left;
}

.points {
    text-align: right;

    color: #f1c40f;

    font-weight: bold;
}

#message {
    margin-top: 15px;

    color: #ff7675;
}

#saveStatus {
    margin: 15px;

    color: #2ecc71;
}
